body, html, #root {
  background-color: #f9fafb;
  font-family: 'Public Sans, sans-serif';
}

.hamburger-btn {
  margin: 20px;
  z-index: 1000; /* Ensure it is above other elements */
  position: relative; /* Ensure it stays in place */
}

.sideMenu {
  width: 220px;
  height: 100%; /* Full height of the container */
  position: fixed;
  top: 0px;
  border-right: 1px solid dimgrey;
  transition: width 0.1s ease; /* Smooth transition for width */

}

.sideMenu.collapsed {
  width: 0;
  overflow: hidden; /* Hide the content when collapsed */
}

.sideMenu.expanded {
  width: 220px; /* Width when the drawer is expanded */

}

@media (max-width: 1300px) {
  .sideMenu {
    position: relative; /* Change position to relative on mobile */
  }
}

/* Default styles */
.main-container {
  position: absolute;
  top: 1px;
  right: 0;
  width: calc(100% - 220px);
  border-bottom: 1px solid dimgrey;
  flex-grow: 1;
}

.dashboard {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  margin-left: 9%;
  margin-top: 110px;
  position: relative;
  /*padding: 10px;*/
  flex-grow: 1;
  width: 100%;
}

/* Responsive styles for screens smaller than or equal to 1300px */
@media (max-width: 1490px) {
  .main-container {
    width: 100%; /* Make the main container take full width */
    top: 1px; /* Adjust top position */
    /*right: 0; !* Align it to the left *!*/
    padding: 0 10px; /* Add some padding for better spacing */
    z-index : 1;

  }

  .dashboard {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1%;
    width: 98%;
    position: relative;
    flex-grow: 1;
  }
}

@media(max-width: 500px){
  .main-container {
    width: 100%; /* Make the main container take full width */
    top: 0; /* Adjust top position */
    right: 0; /* Align it to the left */
    padding: 0 10px; /* Add some padding for better spacing */
    z-index : 1;
  }
}

/* Additional styling for even smaller screens */
@media (max-width: 900px) {
  .dashboard {
      margin-top: 110px;
      position: relative;
      flex-grow: 1;
      width: 98%;
  }

  .hamburger-btn {
    margin: 5px; /* Smaller equal spacing on mobile devices */
  }
}

@media (max-width: 600px) {

  .hamburger-btn {
    margin: 5px; /* Smaller equal spacing on mobile devices */
  }
  .dashboard {
    margin-top: 110px;
    position: relative;
    /*padding: 10px;*/
    flex-grow: 1;
    width: 98%;
  }
}



